/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: 'Exo 2', sans-serif;
        color: #222222;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}